.doctor {
   
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTako8DOiGDGjHCoHG8yTsZnpElF4JSLoxTw3z0nsheQ2kg2Y86-iVWBayscLYP_twsOyA&usqp=CAU');
    background-size: cover;
    
    
}

.card {
    border: none; 
    border-radius: 10px;
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-title {
    color: #343a40; 
}

.card-text {
    color: #6c757d;
}

.btn-success {
    background-color: #28a745; 
    border: none;
}

.btn-success:hover {
    background-color: #218838; 
}
